input::-webkit-slider-thumb {
  width: 35px;
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  cursor: ew-resize;
  background: #000;
  box-shadow: -405px 0 0 400px #fff;
  border-radius: 50%;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: red;
  border-color: transparent;
  color: transparent;
}